---
http_interactions:
- request:
    method: get
    uri: https://beta.pokemontcg.io/v2/sets?q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - 3dd44c7a-37d7-4f40-87d6-7c60d06705ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"884f5ea57def3857d43c82ac227f4c8b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"sm75","name":"Dragon Majesty","series":"Sun \u0026
        Moon","printedTotal":70,"total":78,"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"ptcgoCode":"DRM","releaseDate":"2018/09/07","updatedAt":"2018/10/01
        21:54:00","images":{"symbol":"https://images.pokemontcg.io/sm75/symbol.png","logo":"https://images.pokemontcg.io/sm75/logo.png"}},{"id":"sm115","name":"Hidden
        Fates","series":"Sun \u0026 Moon","printedTotal":68,"total":69,"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"ptcgoCode":"HIF","releaseDate":"2019/08/23","updatedAt":"2019/08/23
        15:59:00","images":{"symbol":"https://images.pokemontcg.io/sm115/symbol.png","logo":"https://images.pokemontcg.io/sm115/logo.png"}},{"id":"swsh35","name":"Champion''s
        Path","series":"Sword \u0026[...]
- request:
    method: get
    uri: https://beta.pokemontcg.io/v2/sets?page=2&q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - 3dd44c7a-37d7-4f40-87d6-7c60d06705ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0344ec5e332de5b53b4630312bbc43dd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"page":2,"pageSize":250,"count":0,"totalCount":17}'
  recorded_at: Fri, 06 Nov 2020 06:00:12 GMT
- request:
    method: get
    uri: https://beta.pokemontcg.io/v2/sets?page=2&q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - 3dd44c7a-37d7-4f40-87d6-7c60d06705ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0344ec5e332de5b53b4630312bbc43dd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"page":2,"pageSize":250,"count":0,"totalCount":17}'
  recorded_at: Fri, 06 Nov 2020 06:00:12 GMT
recorded_with: VCR 6.0.0
