---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/sets?q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9473b48722c7b94d485e8ddcb75c49e9"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"smp","name":"SM Black Star Promos","series":"Sun \u0026
        Moon","printedTotal":156,"total":156,"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"ptcgoCode":"PR-SM","releaseDate":"2017/02/03","updatedAt":"2020/05/01
        16:06:00","images":{"symbol":"https://images.pokemontcg.io/smp/symbol.png","logo":"https://images.pokemontcg.io/smp/logo.png"}},{"id":"sm9","name":"Team
        Up","series":"Sun \u0026 Moon","printedTotal":181,"total":196,"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"ptcgoCode":"TEU","releaseDate":"2019/02/01","updatedAt":"2020/08/14
        09:35:00","images":{"symbol":"https://images.pokemontcg.io/sm9/symbol.png","logo":"https://images.pokemontcg.io/sm9/logo.png"}},{"id":"det1","name":"Detective
        Pikachu","series":"Sun \u0026 Moon","print[...]
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/sets?page=2&q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91b98ee19c8abe5625913070220a00a0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"page":2,"pageSize":250,"count":0,"totalCount":14}'
  recorded_at: Tue, 23 Feb 2021 21:46:44 GMT
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/sets?page=2&q=legalities.standard:legal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91b98ee19c8abe5625913070220a00a0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"page":2,"pageSize":250,"count":0,"totalCount":14}'
  recorded_at: Tue, 23 Feb 2021 21:46:44 GMT
recorded_with: VCR 6.0.0
