---
http_interactions:
- request:
    method: get
    uri: https://beta.pokemontcg.io/v2/sets/g1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - 3dd44c7a-37d7-4f40-87d6-7c60d06705ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f107d067ff0b4883af0e76e26eb5f9b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"g1","name":"Generations","series":"XY","printedTotal":115,"total":115,"legalities":{"unlimited":"Legal","expanded":"Legal"},"ptcgoCode":"GEN","releaseDate":"2016/02/22","updatedAt":"2020/08/14
        09:35:00","images":{"symbol":"https://images.pokemontcg.io/g1/symbol.png","logo":"https://images.pokemontcg.io/g1/logo.png"}}}'
  recorded_at: Fri, 06 Nov 2020 06:00:12 GMT
recorded_with: VCR 6.0.0
